body {
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  font-family: 'Graphik', sans-serif !important;
  
}


@font-face {
  font-family: Graphik;
  font-weight: 400;
  src: url('./assets/fonts/Graphik-Regular.otf');
}

@font-face {
  font-family: Graphik;
  font-weight: 500;
  src: url('./assets/fonts/Graphik-Semibold.otf');
}
